footer
  .container-fluid.bg-7.text-center
    p.pull-left © 2017 Philip Bankier
    ul.pull-right.list-inline
      li
        a(href='/home') Home
      li
        a |
      li
        a(href='/projects') My Other Projects
      li
        a |
      li
        a(href='https://github.com/philipbankier/Personal-Website') Project Github
      li
        a |
      li
        a(href='https://github.com/philipbankier/Personal-Website/issues') Report Issues

