extends layout

block content
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 About Me 
      
  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center  
    br
    .container-fluid.text-center   
      .row
        .col-md-offset-2.col-md-8.col-lg-offset-3.col-lg-6
          .well.profile
            .col-sm-12    
              .col-xs-12.col-sm-8
                h2 Philip Bankier
                p About: 
                p Skills:
                  br
                  span.tags html5
                    figcaption.ratings
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star-o
                  span.tags css3
                    figcaption.ratings
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star-o
                  span.tags Kotlin
                    figcaption.ratings
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star
                      a(href="#")
                        span.fa.fa-star

              .col-xs-12.col-sm-4.text-center
                img.img-responsive.margin.center-block#preHoverPic(src="/images/me.jpg", alt="Image")

            .col-xs-12.divider.text-center
              br
              br
              .col-xs-12.col-sm-4.emphasis
                button.btn.btn-success.btn-block Follow
                  span.fa.fa-plus-circle
              .col-xs-12.col-sm-4.emphasis
                button.btn.btn-info.btn-block View Profile
                  span.fa.fa-user
              .col-xs-12.col-sm-4.emphasis
                .btn-group.dropup.btn-block
                  button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") Options
                    span.fa.fa-gear
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu.text-left(role="menu")
                    li
                      a(href="#") Send Email
                        span.fa.fa-envelope.pull-right
                    li.divider                  
                    li
                      a(href="#") Add or remove from a list
                        span.fa.fa-list.pull-right
            br
            br
  br
  br
  br                