extends layout

block content
  
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Sample Site
      p Advanced Express Pug Sample Site

      .container#hoverPic
        img.img-responsive.margin.center-block#preHoverPic(src="/images/buddy/buddy.jpg", alt="Image", align="middle")
        .middle
          .text#hoverText
            a(href="/buddy") Click here to see more pics of Buddy!

  //- //- FIRST CONTAINER
  //- .container-fluid.bg-7
  //-   //- Lightbox Dev
  //-   div#lightgallery
  //-     a(href="/images/rock.jpg")
  //-       img(src="/images/rock.jpg")
  //-     a(href="/images/yoga.jpg")
  //-       img(src="/images/yoga.jpg")

  //- SECOND CONTAINER  
  .container-fluid.bg-5.text-center    
    .row
      .col-sm-3
        blockquote.quote-box
          p.quotation-mark.
            "Too often we enjoy the comfort of opinion without the discomfort of thought"
          hr
          .blog-post-actions
            p.blog-post-bottom.pull-left John F. Kennedy
            p.blog-post-bottom.pull-right
              span.badge.quote-badge 896
      .col-sm-3
        blockquote.quote-box
          p.quotation-mark.
            "The idea was wonderful, it was only the reality that did not cooperate"
          hr
          .blog-post-actions
            p.blog-post-bottom.pull-left Thomas Sowell
            p.blog-post-bottom.pull-right
              span.badge.quote-badge 896
      .col-sm-3
        blockquote.quote-box
          p.quotation-mark.
            "Money doesn't change people, it just makes them be who they really are"
          hr
          .blog-post-actions
            p.blog-post-bottom.pull-left Abe Simpson
            p.blog-post-bottom.pull-right
              span.badge.quote-badge 896
      .col-sm-3
        blockquote.quote-box
          p.quotation-mark.
            "The problem with socialism is that you eventually run out of other peoples' money"
          hr
          .blog-post-actions
            p.blog-post-bottom.pull-left Margaret Thatcher
            p.blog-post-bottom.pull-right
              span.badge.quote-badge 896
  br
  br
  br