extends layout

block content
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Resources
      .container#hoverPic
        img.img-responsive.margin#preHoverPic(src="/images/buddy/buddy4.jpg", alt="Image", align="middle")

  //- FIRST CONTAINER
  .container-fluid.bg-5.text-center  
    div

    div.panel-group#accordion
      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse1") Bootstrap

        div.panel-collapse.collapse.in#collapse1
          div.panel-body
            ul
              li(class=(title === 'bootstrapSnippet') ? 'active' : undefined)
                a(href='https://bootsnipp.com/') Code snippets for Bootstrap
              li
                a(href='https://www.w3schools.com/bootstrap/bootstrap_carousel.asp') Bootstrap Carousel

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse2") Jade/Pug

        div.panel-collapse.collapse.in#collapse2
          div.panel-body
            ul
              li(class=(title === 'htmlToJade') ? 'active' : undefined)
                a(href='http://html2jade.aaron-powell.com/') HTML to Jade Converter
              li(class=(title === 'pugCheatsheet') ? 'active' : undefined)
                a(href='http://naltatis.github.io/jade-syntax-docs/#attributes') Jade/Pug Cheatsheet

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse3") CSS

        div.panel-collapse.collapse.in#collapse3
          div.panel-body
            ul
              li(class=(title === 'cssFormatterOptimiser') ? 'active' : undefined)
                a(href='http://www.codebeautifier.com/') CSS Formatter and Optimiser
              li(class=(title === 'menuAndNav') ? 'active' : undefined)
                a(href='http://alvit.de/css-showcase/css-navigation-techniques-showcase.php') CSS Menus and Navigation Tabs

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse4") Other

        div.panel-collapse.collapse.in#collapse4
          div.panel-body
            ul
              li(class=(title === 'fontAwesomeCheatsheet') ? 'active' : undefined)
                a(href='http://fontawesome.io/cheatsheet/') Font Awesome Cheatsheet

      div.panel.panel-default
        div.panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#collapse3") Node/Express

        div.panel-collapse.collapse.in#collapse3
          div.panel-body
            ul
              li
                a(href='https://github.com/jaredhanson/passport-local') Passport Local Strategy 
  br
  br
  br