extends layout

block content
  
  .container-fluid.text-center.bg-1
    .jumbotron(style="background:transparent !important")
      h1 Game Rules
      .container#hoverPic
        img.img-responsive.margin.center-block#preHoverPic(src="/images/buddy/buddy.jpg", alt="Image", align="middle")

  .container-fluid.bg-5.text-center    
    
  br
  br
  br